.navigation-container {
  height: 80px;
  border-bottom: 1px solid $color-gray-light;
}

.navigation-container .navigation {
  max-width: 1120px;
  padding: 0 20px;
  height: inherit;
  margin: 0 auto;
  color: $color-blue;
  display: block;
  box-sizing: border-box;
}

.navigation-container header {
  margin-top: 20px;
  font-size: 36px;
}

.navigation-container ul {
  list-style: none;
}

.navigation-container .navigation-element {
  margin-top: 16px;
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
  @include transition(all, 0.5s, linear);
}

.navigation-container .navigation-element:hover {
  color: $color-blue-light;
}

.navigation-container .navigation-element:not(:nth-last-child(-n+2)) {
  margin-right: 41px;
}

.navigation-container .navigation-element .button {
  @include button(12px 21px, 4px, $color-white, $color-blue);
  @include transition(all, 0.5s, linear);
}

.navigation-container .navigation-element .button:hover {
  background-color: $color-blue-light;
}

.navigation-container .navigation-element .notifications {
  position: relative;
}

.navigation-container .navigation-element .notifications .badge {
  margin: -12px 0 0 6px;
  padding: 3px 8px;
  font-size: 14px;
  border: 2px solid $color-white;
  border-radius: 24px;
  position: absolute;
  background-color: $color-red;
}

.navigation-container .navigation-element.menu {
  display: none;
  @include respond-to('tablet') {
    display: block;
  }
}
