.register {
  padding: 36px 20px;
}

.register__title__main {
  font-size: 32px;
  color: $color-gray-dark;
  font-weight: 700;
  @media(min-width: $breakpoint-small-retina) {
    font-size: 225%; // 36/16
  }
}

.register__title__description {
  margin: 8px 0 0 0;
  color: $color-gray-light;
  font-size: 125%; // 20/16
}

.register__description__link {
  color: $color-blue;
  cursor: pointer;
}

.register__input-group {
  margin: 32px 0 0 0;
}

.register__input-group:nth-child(3) {
  margin-bottom: 35px;
}

.register__input-group__failure {
  margin: 10px 0 2px 0;
  padding: 12px 19px;
  border-radius: 4px;
  color: $color-white;
  display: inline-block;
  position: relative;
  background-color: $color-red;
  @media(min-width: $breakpoint-medium) {
    margin: 0 0 0 14px;
  }
}

.register__input-group__failure::after {
  border-right: 5px solid transparent;
  border-bottom: 5px solid $color-red;
  border-left: 5px solid transparent;
  bottom: 100%;
  content: "";
  display: block;
  position: absolute;
  @media(min-width: $breakpoint-medium) {
    border-top: 5px solid transparent;
    border-right: 5px solid $color-red;
    border-bottom: 5px solid transparent;
    right: 100%;
    bottom: 40%;
  }
}

.register__input-group__title {
  margin: 0 0 0 4px;
  color: $color-gray-dark;
  font-weight: 700;
}

.register__input-group__input {
  max-width: 400px;
  width: 100%;
  height: 40px;
  margin: 6px 0 0 0;
  padding: 12px 13px;
  border: 1px solid $color-gray-light;
  border-radius: 4px;
  color: $color-gray-dark-light;
}

.register__input-group__input:focus {
  border: 1px solid $color-blue;
}

.register__input-group__input_is-completed {
  background-color: $color-white-dark;
}

.register__input-group__input_is-error {
  border: 1px solid $color-red;
}

.register__input-group__description {
  max-width: 335px;
  margin: 8px 0 0 3px;
  font-size: 87.5%; // 14/16
  color: $color-gray-light;
}

.register__submit-spinner {
  margin: 0 0 0 10px;
  font-size: 20px;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
