.show-filter {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid $color-gray-light;
  color: $color-blue;
  text-align: center;
  font-weight: 700;
  line-height: 42px;
  cursor: pointer;
  display: block;
  transition: all, 0.5s, linear;
  background-color: $color-white-dark;
  @media(min-width: $breakpoint-large) {
    display: none;
  }
}

.show-filter:hover {
  color: $color-blue-light;
  background-color: $color-gray-dark-blackout;
}

.issues__elements {
  margin: 19px 0 20px 0;
  @media(min-width: $breakpoint-large) {
    margin: 19px 0 0 40px;
  }
}

.issues__element {
  max-width: 280px;
  width: 90%; // 360 / 400
  margin: 20px 0 0 20px;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  background-color: $color-white-dark;
  transition: background-color, 0.5s, linear;
  @media(min-width: $breakpoint-small-retina) {
    max-width: 320px;
  }
  @media(min-width: $breakpoint-large) {
    max-width: 260px;
    margin: 20px 16px 0 19px;
  }
}

.issues__element_is-active {
  background-color: $color-gray-dark-blackout;
}

.issues__element:hover {
  background-color: $color-gray-dark-blackout;
}

.issues__element__title {
  margin: 0 0 15px 0;
  font-size: 112.5%; // 18 / 16
  font-weight: 700;
  color: $color-blue;
}

.issues__element__description {
  margin: 8px 0 0 0;
  color: $color-gray-dark;
  font-weight: 700;
  display: block;
}

.issues__element__time {
  float: right;
  font-weight: 400;
}

.issues__element__status {
  float: right;
  font-weight: 400;
}

.issues__element__status_is-accepted {
  color: $color-green;
}

.issues__element__status_is-rejected {
  color: $color-red;
}
