<section>
  <a class="show-filter" translate="directives.issues.showFilters"></a>
  <section class="issues-filter">
    <header class="issues-filter__title" translate="directives.issuesFilter.title"></header>
    <section class="issues-filter__categories">
      <section class="issues-filter__select"
          scope-element="filterMenu"
          ng-click="toggleFilter()">
        <header class="issues-filter__selected">{{ currentSelect }}</header>
      </section>
      <a class="issues-filter__add navigation-button" ng-click="addElement()">
        <i class="fa fa-plus-square-o"></i>
      </a>
      <ul class="issues-filter__dropdown" ng-show="isFilterShow">
        <li class="issues-filter__dropdown__element"
            ng-repeat="filterElement in filterElements">{{ filterElement }}</li>
      </ul>
    </section>
    <ul class="issues-filter__selected-categories">
      <li class="issues-filter__selected-category"
          ng-repeat="selectedElement in selectedElements">
        {{ selectedElement }}
        <i class="issues-filter__selected-category__close fa fa-close"></i>
      </li>
    </ul>
    <header class="issues-filter__status" translate="directives.issuesFilter.status"></header>
    <ul class="issues-filter__statuses">
      <li class="issues-filter__statuses__status">
        <section class="issues-filter__checkbox"></section>
        {{ 'directives.issuesFilter.statusActive' | translate }}
      </li>
      <li class="issues-filter__statuses__status">
        <section class="issues-filter__checkbox"></section>
        {{ 'directives.issuesFilter.statusAccepted' | translate }}
      </li>
      <li class="issues-filter__statuses__status">
        <section class="issues-filter__checkbox"></section>
        {{ 'directives.issuesFilter.statusRejected' | translate }}
      </li>
    </ul>
  </section>
</section>