<ul class="issues__elements">
  <li class="issues__element">
    <header class="issues__element__title">Title</header>
    <section class="issues__element__description">
      Date added:
      <time class="issues__element__time">01.0.2001</time>
    </section>
    <section class="issues__element__description">
      Last action:
      <time class="issues__element__time">01.0.2001</time>
    </section>
    <section class="issues__element__description">
      Status:
      <span class="issues__element__status issues__element__status_is-accepted">Accepted</span>
    </section>
  </li>
</ul>