<div class="navigation">
  <section class="navigation__container">
    <header class="navigation__title" translate="directives.navigation.title"></header>
    <ul class="navigation__elements">
      <li class="navigation__element">
        <a class="navigation__link" translate="directives.navigation.gallery"></a>
      </li>
      <li class="navigation__element">
        <a class="navigation__link" translate="directives.navigation.about"></a>
      </li>
      <li class="navigation__element">
        <a class="navigation__link" translate="directives.navigation.login"></a>
      </li>
      <li class="navigation__element">
        <a ui-sref="register" class="navigation__link button" translate="directives.navigation.register"></a>
      </li>
      <li class="navigation__element" scope-element="notifications">
        <a class="navigation__link navigation__notifications navigation-button" ng-click="toggleNotifications()">
          <span class="navigation__notifications__badge">{{notificationsCount}}</span>
          <i class="fa fa-bell"></i>
        </a>
        <ul class="navigation-notifications-dropdown" ng-show="isNotificationsShow">
          <li class="navigation-notifications-dropdown__element" ng-repeat="notification in notifications">
            <a class="navigation-notifications-dropdown__link">{{notification}}</a>
          </li>
        </ul>
      </li>
      <li class="navigation__element" scope-element="menu">
        <a class="navigation__link navigation__menu navigation-button" ng-click="toggleMenu()">
          <i class="fa fa-bars"></i>
        </a>
        <ul class="navigation-menu-dropdown" ng-show="isMenuShow">
          <li class="navigation-menu-dropdown__element">
            <a class="navigation-menu-dropdown__link" translate="directives.navigation.gallery"></a>
          </li>
          <li class="navigation-menu-dropdown__element">
            <a class="navigation-menu-dropdown__link" translate="directives.navigation.about"></a>
          </li>
          <li class="navigation-menu-dropdown__element">
            <a class="navigation-menu-dropdown__link" translate="directives.navigation.login"></a>
          </li>
          <li class="navigation-menu-dropdown__element">
            <a ui-sref="register" class="navigation-menu-dropdown__link" translate="directives.navigation.register"></a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>
