<div class="register-container">
  <header>
    <h1 translate="directives.register.title"></h1>
  </header>
  <form name="registerForm" ng-submit="submit()" novalidate>
    <div class="group-errors">
      <span ng-show="submitMessage">
        <small class="error">
          {{submitMessage}}
        </small>
      </span>
    </div>
    <div class="form-group">
      <input type="email"
             name="email"
             placeholder="Email"
             ng-model="register.email"
             ng-model-options="{ debounce: 500 }"
             required>
      <div class="group-errors" ng-show="registerForm.$submitted || registerForm.email.$touched">
        <span ng-show="registerForm.email.$error.required">
          <small class="error" translate="directives.register.emailRequired"></small>
        </span>
        <span ng-show="registerForm.email.$error.email">
          <small class="error" translate="directives.register.emailInvalid"></small>
        </span>
      </div>
    </div>
    <div class="form-group">
      <input type="password"
             name="password"
             placeholder="Password"
             ng-model="register.password"
             ng-model-options="{ debounce: 500 }"
             ng-minlength="3"
             required>
      <input type="password"
             name="confirm"
             placeholder="Confirm password"
             ng-model="register.passwordConfirm"
             ng-model-options="{ debounce: 500 }"
             ng-minlength="3"
             repeat-password="register.password"
             required>
      <div class="group-errors" ng-show="registerForm.$submitted || registerForm.password.$touched">
        <span ng-show="registerForm.password.$error.minlength">
          <small class="error" translate="directives.register.passwordShort"></small>
        </span>
        <span ng-show="registerForm.password.$error.required">
          <small class="error" translate="directives.register.passwordRequired"></small>
        </span>
        <span ng-show="registerForm.confirm.$error.match">
          <small class="error" translate="directives.register.passwordConfirm"></small>
        </span>
      </div>
    </div>
    <button type="submit" class="button tiny radius" translate="directives.register.submit"></button>
  </form>
</div>