<div class="register">
  <header class="register__title">
    <h1 class="register__title__main" translate="directives.register.title"></h1>
    <h2 class="register__title__description"> {{ 'directives.register.titleDescription' | translate}}
      <a class="register__description__link" translate="directives.register.titleDescriptionLink"></a>
    </h2>
  </header>
  <section class="register__container">
    <form name="registerForm" name="registerForm" ng-submit="submit()" novalidate>
      <section class="register__input-group">
        <h1 class="register__input-group__title" translate="directives.register.email"></h1>
        <input class="register__input-group__input"
               type="email"
               name="email"
               placeholder="Email"
               ng-model="register.email"
               ng-model-options="{ debounce: 500 }"
               ng-class="{ 'register__input-group__input_is-error':
               (registerForm.$submitted || registerForm.email.$touched) && !registerForm.email.$valid,
                'register__input-group__input_is-completed':
                (registerForm.$submitted || registerForm.email.$touched) && registerForm.email.$valid }"
               required>
        <span class="register__input-group__failure"
              ng-show="(registerForm.$submitted || registerForm.email.$touched) && registerForm.email.$error.required"
              translate="directives.register.emailRequired">
        </span>
        <span class="register__input-group__failure"
              ng-show="(registerForm.$submitted || registerForm.email.$touched) && registerForm.email.$error.email"
              translate="directives.register.emailInvalid">
        </span>
        <footer class="register__input-group__description" translate="directives.register.emailDescription"></footer>
      </section>
      <section class="register__input-group">
        <h1 class="register__input-group__title" translate="directives.register.password"></h1>
        <input class="register__input-group__input" type="password"
               name="password"
               placeholder="Password"
               ng-model="register.password"
               ng-model-options="{ debounce: 500 }"
               ng-minlength="3"
               ng-class="{ 'register__input-group__input_is-error':
               (registerForm.$submitted || registerForm.password.$touched) && !registerForm.password.$valid,
                'register__input-group__input_is-completed':
                (registerForm.$submitted || registerForm.password.$touched) && registerForm.password.$valid }"
               required>
        <span class="register__input-group__failure"
              ng-show="(registerForm.$submitted || registerForm.password.$touched) && registerForm.password.$error.minlength"
              translate="directives.register.passwordShort">
        </span>
        <span class="register__input-group__failure"
              ng-show="(registerForm.$submitted || registerForm.password.$touched) && registerForm.password.$error.required"
              translate="directives.register.passwordRequired">
        </span>
        <footer class="register__input-group__description" translate="directives.register.passwordDescription"></footer>
      </section>
      <section class="register__input-group">
        <h1 class="register__input-group__title" translate="directives.register.repeatPassword"></h1>
        <input class="register__input-group__input"
               type="password"
               name="confirm"
               placeholder="Confirm password"
               ng-model="register.passwordConfirm"
               ng-model-options="{ debounce: 500 }"
               ng-minlength="3"
               repeat-password="register.password"
               ng-class="{ 'register__input-group__input_is-error':
               (registerForm.$submitted || registerForm.confirm.$touched) && !registerForm.confirm.$valid,
                'register__input-group__input_is-completed':
                (registerForm.$submitted || registerForm.confirm.$touched) && registerForm.confirm.$valid }"
               required>
        <span class="register__input-group__failure"
              ng-show="(registerForm.$submitted || registerForm.confirm.$touched) && registerForm.confirm.$error.match"
              translate="directives.register.passwordConfirm">
        </span>
      </section>
      <input type="submit" class="button" translate translate-attr-value="directives.register.submit">
      <i class="register__submit-spinner fa fa-spinner" ng-show="registerForm.$pending"></i>
    </form>
  </section>
</div>
