<div class="sidebar">
  <ul class="sidebar__elements">
    <li class="sidebar__element">
      <a class="sidebar__element__link">
        <section class="sidebar__element__icon">
          <i class="fa fa-phone"></i>
        </section>
        <header class="sidebar__element__title">Issues</header>
      </a>
    </li>
    <li class="sidebar__element">
      <a class="sidebar__element__link">
        <section class="sidebar__element__icon">
          <i class="fa fa-phone"></i>
        </section>
        <header class="sidebar__element__title">Archive</header>
      </a>
    </li>
  </ul>
</div>